
#container {
    border:3px solid blue;
    display:flex;
    flex-wrap: wrap;
    width:500px;
    min-height:500px; /*can grow in height if content exceeds 500px*/
}

body{
    border:5px solid red;
}

.items {
 flex-grow:1;
 height: 29.3px; 
}
