
#container {
    border:3px solid blue;
    display:flex;
    flex-wrap: wrap;
    width:500px;
    height:500px; 
    margin:0 auto;
    overflow: hidden;
}

.control {
    margin:0 0 10px 460px;
}

.color-controls {
    margin:10px 0 0 480px;
}

body{
    /* border:5px solid red; */
}

.items {
 flex-grow:1;
 height: 29.3px; 
}
